* {
    box-sizing: border-box;
    
  }
:root {
    --bg-color: #f0ece3;
    --general-color: #cff6cf;
    --footer-color: #8785a2;
    --blue: #14b1ab;
    --light-blue: #8fcfd1;
   
}
  
body {
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--bg-color);
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 1.4rem;
    word-wrap: break-word;
}
h1, h2 {
    font-size: 1.8rem;
    font-weight: 450;
    font-family: 'Baloo Da 2', cursive;
    color: var(--blue);
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

h4 {
    font-weight: 300;
    color: var(--blue);
}
@keyframes color-changing {
    from {background-color: var(--blue);}
    to {background-color: var(--light-blue);}
}
a {    
    text-decoration: none;
    padding: 0.2rem;
     
}
a:hover {
    animation-name: color-changing;
    animation-duration: 1s;
}

p {
    letter-spacing: 0.08rem;
    text-align: justify;
    
}
hr {
    border: 0.1px dashed var(--blue)
}

footer {
    height: 2rem;
    text-align: center;
    padding-top:0.5rem;
}
.container-fluid {
    margin: 0.5rem;
    padding: 0;
    
}
.general {
    width: 100%;
    background-color: var(--bg-color);
    padding: 0;
    box-shadow: 5px 8px 6px -6px grey;
}
.tech {
    padding: 1rem;
    margin: 0;
}
.exp-edu {
    width: 100%;
    padding-right: 2.5rem;
    padding-left: 2rem;
    margin-left: 0.5rem;
    box-shadow: 5px 8px 6px -6px grey;
    
}
.skill-level-container {
    background-color: grey;
    border-radius: 20px;
    
}
    
.fas {
    font-size: 1.3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}
.col {
    flex: 100%;
    max-width: 100%;
}
.tech-pic {
    width: 100%;
    vertical-align: middle;
}
.tech-pic:hover {
    opacity: 0.5;
}

.info {
    padding: 1rem;
}

#skill-level-eng {
    background-color: var(--light-blue);
    width: 80%;
    height: 0.9rem;
    border-radius: 20px;
    
}
#skill-level-pre {
    background-color: var(--light-blue);
    width: 85%;
    height: 0.9rem;
    border-radius: 20px;
}


#picture {
    width: 100%;}
    
#title {
    padding-top:1rem;
}

    
@media (prefers-color-scheme: dark) {
    .container-fluid, .general {
        background: black;
        color: var(--bg-color);
    }
    h1, h2 {
        color: var(--blue);
    }
    img {
        opacity: .9;
    }
    a {
        box-shadow: 2px 5px grey;
    }

}
